{% extends 'base/main.html' %}

{% block content %}

<div class="header_bar">
    <h3>Login</h3>
</div>

<!-- <h3 id="add-link" class="text-center mt-3 fw-bold">Login Form</h3> -->

<div class="form-body">
  {% if messages %}
  <div class="messages">
      {% for message in messages %}
      <p>{{message}}</p>
      {% endfor %}
  </div>
{% endif %}
<form action="" method="post">
  {% csrf_token %}
    <div class="mb-3">
      <label for="username" class="form-label">Username:</label>
      <input class="form-control" name="username" type="text" placeholder="e.g. john_doe" />
    </div>
    <div class="mb-3">
      <label for="title" class="form-label">Password:</label>
      <input class="form-control" name="password" type="password" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;" />
    </div>
    <!-- <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->
    <button type="submit" class="button btn btn-primary">Login</button>

    <p class="mt-2">Don't have an account yet? <a href="{% url 'register' %}">Register Now</a></p>
  </form>
</div>

<!-- <div class="form-body">
    <form action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input class="button" type="submit" value="submit">
    </form>
</div> -->



{% endblock content %}